@use "../../styles/animations.scss" as animations;
@use "../../styles/variables.scss" as variables;
@use "../../styles/mixins.scss" as mixins;

#dashboard {
  transform: translateY(100vh);
  @include animations.slide-up(1s);

  //Navigational buttons
  .header-buttons {
    .standard-button, .link-button {
      flex: wrap;
      margin: 0 0.1875rem;
      padding: 0.75rem 1rem;
    }
  }

  main {
    height: 88vh;
    @include mixins.border-with-gray-texture;
  }

  .child-button {
    &:first-child, &:last-child {
      background: linear-gradient(45deg, variables.$light-blood-color, variables.$dark-blood-color);
      &:hover {
        background: linear-gradient(45deg, variables.$light-gold-color, variables.$dark-gold-color);
      }
    }
  }

  .header-buttons {
    .standard-button {
      &:nth-child(2), &:nth-child(3) {
        background-image: linear-gradient(45deg, variables.$light-gold-color, variables.$dark-gold-color);
        &:hover {
          background-image: linear-gradient(45deg, variables.$light-blood-color, variables.$dark-blood-color);
        }
      }
    }

    .standard-button, .link-button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

   //Guest warning and form
  .guest-message-container {
    margin: 0 auto;
    max-height: 13.75rem;
    background-color: rgba(220, 38, 38, 0.2);

    .standard-button, .disabled-button {
      padding: 0.75rem 1.5rem;
      margin: 0.5rem 0;
    }
  }

  //Card Stat Text
  .Total-text,
  .Standard-text,
  .Blessed-text, 
  .Bloodstained-text, 
  .Charred-text, 
  .Exhumed-text, 
  .Fleshwoven-text,
  .Inscribed-text,
  .Oathbound-text,
  .Offering-text {
    @include animations.float(3s)
  }

  .Blessed-text, 
  .Bloodstained-text, 
  .Charred-text, 
  .Exhumed-text, 
  .Fleshwoven-text,
  .Inscribed-text,
  .Oathbound-text,
  .Offering-text { 
    color: transparent;
    font-size: 1.125rem;
    font-weight: bold;
    position: relative;
  }

  .Blessed-text {
    background: repeating-linear-gradient(
      45deg,
      variables.$dark-gold-color,
      variables.$light-gold-color 0.375rem,
      variables.$dark-gold-color 0.3125rem,
      variables.$light-gold-color 0.5625rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Bloodstained-text {
    background: repeating-linear-gradient(
      45deg,
      variables.$shadow-blood,
      variables.$light-blood-color 0.375rem,
      variables.$shadow-blood 0.3125rem,
      variables.$light-blood-color 0.4375rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Charred-text {
    background: repeating-linear-gradient(
      45deg,
      variables.$ashen-gray,
      variables.$ember-orange 0.375rem,
      variables.$shadow-fire 0.3125rem,
      variables.$ember-orange 0.5rem,
      variables.$ashen-gray 00.4375rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Exhumed-text {
    background: repeating-linear-gradient(
      45deg,
      #FFF,
      variables.$eerie-green 0.375rem,
      #FFF 0.3125rem,
      variables.$eerie-green 0.5rem,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Fleshwoven-text {
    background: repeating-linear-gradient(
      45deg,
      variables.$skin-tone,
      variables.$shadow-artery 0.375rem,
      variables.$skin-tone 0.3125rem,
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .Inscribed-text {
    background: repeating-linear-gradient(
      45deg,
      #757575,
      #b0b0b0 0.375rem,
      #757575 0.3125rem,
      #b0b0b0 0.5625rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Oathbound-text {
    background: repeating-linear-gradient(
      45deg,
      #2b4f73,
      #55a1c9 0.375rem,
      #2b4f73 0.3125rem,
      #55a1c9 0.5625rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .Offering-text {
    background: repeating-linear-gradient(
      45deg,
      #5a1b70,
      #b03fc6 0.375rem,
      #5a1b70 0.3125rem,
      #b03fc6 0.5625rem
    );
    -webkit-background-clip: text;
    background-clip: text;
  }

  .redacted {
    height: 3.125rem;
    columns: transparent;
  }

  .redacted-animation {
    gap: 0.5rem;
  }
  
  .question-mark {
    font: 1.125rem;
    font-weight: bold;
    color: #CCC;
    position: relative;
    @include animations.float(5s);
  }

  .question-mark:nth-child(2) {
    animation-delay: 2.5s;
  }

  .question-mark:nth-child(4) {
    animation-delay: 2.5s;
  }

  .filter-checkbox-container {
    padding-left: 1.5625rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.125rem;
    color: variables.$light-gold-color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  }

  .filter-checkmark {
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    border: 0.125rem solid variables.$light-gold-color;
  }

  .filter-checkbox-container input:checked ~ .filter-checkmark {
    background-color: variables.$light-blood-color;
  }

  .filter-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .filter-checkbox-container input:checked ~ .filter-checkmark:after {
    display: block;
  }

  .overlap-cards {
    margin-left: -3.75rem;
    transition: z-index 0.3s ease;
    transform: translateX(3.125rem);
  
    &:first-child {
      margin-left: 0;
    }
  
    &:hover {
      z-index: 1;
    } 
  
    &:active {
      opacity: 1;
  
      .card {
        opacity: 1;
        cursor: grabbing;
        transform: scale(1.05);
      }
    }
  }
  
  .card-stack {
    min-height: 19rem;
    padding-right: 12rem;
  }

  .selected-card {
    .hover-box {
      display: none;
    }

    .card-inner {
      transform: translateY(20px);
      opacity: 0.8;
      box-shadow: 0 0 10px variables.$light-gold-color;
    }
  }

  .token-stack {
    min-height: 100vh;
  }

  .selected-token {
    .hover-box {
      display: none;
    }

    .token {
      opacity: 0.8;
      transform: translateY(20px);
      box-shadow: 0 0 10px variables.$dark-blood-color;
    }
  }

  #deck-editor,
  #token-editor {
    .hover-box {
      top: -20% !important;
      left: 100% !important;
    }
  }
  
  @media (max-width: 62.5rem) {
    .card-stack {
      min-height: 10.9375rem;
    }

    .overlap-cards {
      margin-left: -1.5625rem;
    }
  }
}