@use "../../../styles/variables" as variables;

.standard-button, .inverse-button {
  border: 0.125rem solid transparent;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.standard-button {
  background: linear-gradient(45deg, variables.$light-blood-color, variables.$dark-blood-color);

  
  &:hover {
    background: linear-gradient(45deg, variables.$light-gold-color, variables.$dark-gold-color);
  }
}


.inverse-button {
  background: linear-gradient(45deg, variables.$light-gold-color, variables.$dark-gold-color);

  &:hover { 
    background: linear-gradient(45deg, variables.$light-blood-color, variables.$dark-blood-color);
  }
}