@use "../../../styles/variables" as variables;
@use "../../../styles/mixins" as mixins;

#logo {
  .title-text {    
    font-size: 6rem;
    color: transparent;
    background: linear-gradient(variables.$light-blood-color 50%, variables.$dark-blood-color);
    -webkit-background-clip: text;
    background-clip: text;
    padding-bottom: 1.25rem;

  } 

  .border-container {
    margin-top: 0.625rem;
    width: fit-content;
    height: 6.25rem;
  }

  .textured-border {
    height: 0.625rem;
    @include mixins.border-with-red-texture
  }

  .four-suits {
    @include mixins.text-with-red-texture;
    display: inline-block;
    font-size: 5rem;
    margin-top: -4.15rem;
    z-index: 1;
    padding: 0.625rem 1.25rem;
  }

  @media (max-width: 26.563rem) {
    .title-text {
      font-size: 5rem;
    }

    .textured-red-border {
      margin-bottom: -0.5rem;
    }

    .four-suits {
      font-size: 3rem;
      margin-top: -10rem;
    }
  }
}