@use "./variables.scss" as variables;

#root { 
  height: 100vh;
  overflow: hidden;
  background: black;
  background: linear-gradient(#222, 
    variables.$light-blood-color 600%
  );
}

.grecaptcha-badge {
  visibility: hidden !important;
}

// Prevents highlighting except for text areas
body {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Allow selection in input fields
input, textarea {
  user-select: text !important;
  touch-action: auto;
  -webkit-user-drag: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

// Scrollbar
::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0.25rem;

  &:hover {
    background-color: variables.$dark-blood-color;
  }

  &:active {
    background-color: variables.$light-blood-color;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
}