@use "../../../styles/variables" as variables;
@use "../../../styles/animations" as animations;

.card-container {
  width: 150px;
  height: 220px;
  border-radius: 12px;
  perspective: 1000px;
  cursor: pointer;

  &.black .card-suit,
  &.black .card-rank,
  &.black .card-value {
    color: #000;
  }
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  background: linear-gradient(135deg, #FFFFFF, #EAEAEA);
  border: 2px solid #000;
  border-radius: 10px;
  
  &:hover {
    transform: translateY(-20px) scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-face {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 10px;
  backface-visibility: hidden;
  border-radius: 8px;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-front.Blessed-card,
.card-front.Bloodstained-card,
.card-front.Charred-card,
.card-front.Exhumed-card,
.card-front.Fleshwoven-card {
  .card-suit,
  .card-rank,
  .card-value {
    color: white;
  }
}

/* Card Type Styles */
.card-front.Blessed-card {
  background: linear-gradient(135deg, variables.$light-gold-color, variables.$dark-gold-color);
  border: 3px solid variables.$light-gold-color;
  box-shadow: 0 4px 10px variables.$shadow-gold;
  color: white !important;
}

.card-front.Bloodstained-card {
  background: radial-gradient(circle, variables.$light-blood-color, variables.$dark-blood-color);
  border: 3px solid variables.$dark-blood-color;
  box-shadow: 0 4px 10px variables.$shadow-blood;
}

.card-front.Charred-card {
  background: linear-gradient(135deg, variables.$ashen-gray, variables.$ember-orange);
  border: 3px solid variables.$shadow-fire;
  box-shadow: 0 4px 10px rgba(255, 87, 0, 0.6);
}

.card-front.Exhumed-card {
  background: linear-gradient(135deg, variables.$mystic-black, variables.$eerie-green);
  border: 3px solid variables.$eerie-green;
  box-shadow: 0 4px 15px variables.$shadow-mist;
}

.card-front.Fleshwoven-card {
  background: linear-gradient(135deg, variables.$skin-tone, variables.$shadow-fire);
  border: 3px solid variables.$vein-blue;
  box-shadow: 0 4px 10px variables.$shadow-artery;
}

/* Back of Card */
.card-back {
  transform: rotateY(180deg);
}

.card-header .card-suit, .card-footer .card-suit {
  font-size: 20px;
}

.card-header, .card-footer {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: variables.$light-blood-color;
}

.card-content {
  font-size: 50px;
  color: variables.$light-blood-color;
}

/* Face Down Pattern */
.face-down {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    variables.$dark-blood-color,
    variables.$light-blood-color 6px,
    variables.$dark-blood-color 5px,
    variables.$light-blood-color 9px
  );
}

/* Responsive Design for Smaller Screens */
@media (max-width: 1000px) {
  .card-container {
    width: 75px;
    height: 110px;
  }

  .card-face {
    padding: 6px;
  }

  .card-header .card-suit, .card-footer .card-suit {
    font-size: 10px;
  }

  .card-header, .card-footer {
    font-size: 9px;
  }
  
  .card-content {
    font-size: 20px;
  }
}
