.daimon-dots {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dot {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 255, 0.2) 60%, rgba(255, 255, 255, 1) 100%);
  box-shadow:
    0 0 8px rgba(0, 0, 0, 0.8),
    0 0 16px rgba(0, 0, 0, 0.4);
  animation: pulse 5s infinite ease-in-out; transform: rotate(45deg);
  border-radius: 90% 0;
  display: inherit !important;
  overflow: hidden;
}

/*@keyframes pulse {
  0%, 100% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
}*/